node_modules/
/test-results/
/playwright-report/
/playwright/.cache/

test-results/
playwright-report/
screenshots/
videos/
trace/

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

tests/old-tests/
tests/temp/

.idea
allure-results
allure-report